<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Custom CSS-->
  <link rel="stylesheet" href="styles.css">
  <!-- Semantic UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>Shanti Wear House</title>
</head>
<body>
  <!--Vertical Navbar-->
  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4" style="background: linear-gradient(to top, #0066eb 0%, #ff8ab3 68%);">
      <div class="media d-flex align-items-center"><img src="admin.svg" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        &emsp;<div class="media-body">
          <h4 class="m-0"><p class="text-white"><shop-name></h4>
            <p class="font-weight-light text-white mb-0">(Admin)</p>
        </div>
      </div>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
      <center><button type="submit" class="btn btn-danger" ><p class="text-white">Log Out</p></button></center>
    </form>
    <h5 class="ui horizontal divider header text-primary">
      MAIN
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/" class="nav-link text-dark font-italic" style="background: linear-gradient(to right, #0066eb 0%, #ff8ab3 68%);">
                  <p class="text-white"><i class="home icon"></i>
                  Dashboard
                </p>
              </a>
      </li>
      <li class="nav-item">
        <a href="/billing" class="nav-link text-dark font-italic">
          <i class="rupee sign icon"></i>
                  Bill
              </a>
      </li>
      <li class="nav-item">
        <a href="/orders" class="nav-link text-dark font-italic">
          <i class="eye icon"></i>
                  View Orders
              </a>
      </li>
      <li class="nav-item">
        <a href="/viewstocks" class="nav-link text-dark font-italic">
          <i class="tags icon"></i>
                  View Stocks
              </a>
      </li>
      <li class="nav-item">
        <a href="/stocks" class="nav-link text-dark font-italic">
          <i class="plus circle icon"></i>
                  Add Stock
              </a>
      </li>
    </ul>
  
    <h5 class="ui horizontal divider header text-primary">
      CUSTOMIZE
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/brands" class="nav-link text-dark font-italic">
          <i class="yelp icon"></i>
                  Brand
              </a>
      </li>
      <li class="nav-item">
        <a href="/categories" class="nav-link text-dark font-italic">
          <i class="bookmark icon"></i>
                  Category
              </a>
      </li>
      <li class="nav-item">
        <a href="/sizes" class="nav-link text-dark font-italic">
          <i class="check square icon"></i>
                  Size
              </a>
      </li>
    </ul>
  
    <h5 class="ui horizontal divider header text-primary">
      FILTERS
    </h5>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="/sales_filter" class="nav-link text-dark font-italic">
          <i class="yelp icon"></i>
                  Sales
              </a>
      </li>
      <li class="nav-item">
        <a href="/stock_filter" class="nav-link text-dark font-italic">
          <i class="bookmark icon"></i>
                  Stock
              </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar -->
  
  
  <!-- Page content holder -->
  <div class="page-content p-5" id="content" style="background: linear-gradient(to right, #e9edf1 47%, #ff8ab3 100%);">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="align justify icon"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
  
    <!-- Page content -->
    
    <br>
    <h1>Dashboard</h1>
    <br>
    <center><img class="ui large rounded image" src="dashboard.svg"></center>
    <br>
    <br>
    <br>
    <div class="fluid container">
    <div class="ui four column grid">
      <div class="col-sm-6">
        <div class="ui fluid card text-white bg-success">
         
          <div class="content">
            <center>
            <div class="ui statistic">
                <div class="value">
                  <p class="text-white">
                  <span>&#8377;</span>
                 <% total_sales.forEach(function(order){ %>
                    <%= order.TotalItemsOrdered %>
                  <% }); %>
                </p>
                </div>
                <div class="label">
                  Total Sales
                </div>
            </div>
          </center>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ui fluid card text-white bg-primary">
          
          <div class="fluid content">
            <center>
            <div class="ui statistic">
              <div class="value">
                <p class="text-white">
                  <i class="shopping cart icon"></i><% ord_num.forEach(function(order){ %>
                  <%= order. NumberOfProducts %>
                <% }); %>
                </p>
              </div>
              <div class="label">
                Total Orders
              </div>
            </div>
          </center>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ui fluid card text-dark bg-warning">
          <div class="content">
            <center>
            <div class="ui statistic">
              <div class="value">
                <p class="text-white">
                  <i class="tags icon"></i><% stock_num.forEach(function(order){ %>
                  <%= order. NumberOfProducts %>
                <% }); %>
                </p>
              </div>
              <div class="label">
                Total Stock
              </div>
            </div>
          </center>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ui fluid card text-white bg-info">
          
          <div class="fluid content">
            <center>
            <div class="ui statistic">
              <div class="value">
                <p class="text-white">
                  <i class="rupee sign icon"></i><% total_stock.forEach(function(order){ %>
                  <%= order. TotalItemsOrdered %>
                <% }); %>
                </p>
              </div>
              <div class="label">
                Total Stock Value
              </div>
            </div>
          </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End demo content -->
  
  
  
  <br>
 
  
  <!--Semantic UI Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script>
        $(function() {
      // Sidebar toggle behavior
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar, #content').toggleClass('active');
      });
    });

  </script>
</body>
</html>


